body {
    outline: none;
    background-color: black;
}


div {
    outline: none;
    color: white;
    
    background-color: #100f0f;
}

div.Game {
    font-family: 'Cascadia Code', 'Courier New', 'Lucida Console', monospace;
    
    outline: none;

    position: fixed;
    bottom: 5%;
    left: 15%;
}

.BottomLeft {
    width: 234.375px;

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline: none;

    position: fixed;
    bottom: 46.875px;
    left: 46.875px;
}

.TopRight {
    width: 468.75px;
    height: 281.25px;

    outline: none;
    margin: 0%;
    
    position: fixed;
    top: 46.875px;
    right: 46.875px;
}
.BottomRight {
    width: 234.375px;

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline: none;

    position: fixed;
    bottom: 46.875px;
    right: 46.875px;
}

.Middle {
    width: 468.75px;

    outline: none;
    margin: 0%;
    
    position: fixed;
    bottom: 46.875px;
    left: 346.875px;
}

div.pageLine {
    display: block;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline: none;

    white-space: pre-wrap;
}
